In [1]:
import pandas as pd

CPG_FILE = '../data/cpg_methylation/cpg_methylation.bed'

In [3]:
annotations = pd.read_csv(CPG_FILE, sep='\t', low_memory=False)
annotations

       chromosome     start       end strand          label  split
0            chr1    134839    135351      +  0,1,2,3,4,5,6  train
1            chr1    134946    135458      +  0,1,2,3,4,5,6  train
2            chr1    134951    135463      +  0,1,2,3,4,5,6  train
3            chr1    139110    139622      +  0,1,2,3,4,5,6  train
4            chr1    180816    181328      +  0,1,2,3,4,5,6  train
...           ...       ...       ...    ...            ...    ...
959034       chrY   6535336   6535848      -  0,1,2,3,4,5,6  train
959035       chrY   6535372   6535884      +  0,1,2,3,4,5,6  train
959036       chrY   6744500   6745012      +              4  train
959037       chrY  10223411  10223923      -            NaN  train
959038       chrY  11395623  11396135      -              4  train

[959039 rows x 6 columns]

In [4]:
annotations['length'] = annotations['end'] - annotations['start']
annotations['length'].describe()

count    959039.0
mean        512.0
std           0.0
min         512.0
25%         512.0
50%         512.0
75%         512.0
max         512.0
Name: length, dtype: float64

In [5]:
annotations['split'].value_counts()

split
train    743095
valid    109717
test     106227
Name: count, dtype: int64

In [6]:
annotations['strand'].value_counts()

strand
-    512737
+    446302
Name: count, dtype: int64